<tr>
    <th><strong><span class="ezra_search_box-result_count">[% count %] van [% total %]</span></strong></th>
</tr>
[% WHILE (zt = zaaktypen.next) %]
    [% def = zt.zaaktype_node_id.zaaktype_definitie_id %]
    <tr id="zaaktype_id-[% zt.id %]" data-preset-client-id="[% def.preset_client %]" data-preset-client-name="[% def.preset_client_name %]" class="select-row">
        <td>[% zt.zaaktype_node_id.titel %] [% UNLESS zt.active %]<span style="color: #ccc">(offline)</span>[% END %]</td>
    </tr>
[% END %]
