@import "../../styles/variables";
@import "branding";

.side-menu {

	z-index: 9;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width:100%;
	display: flex;
	flex: 1;
	flex-flow: row nowrap;
	transform: translateX(-101%);
	transition: 0.3s transform cubic-bezier(.19,.87,.31,.91);
	min-height: 0;
	line-height: 1rem;
	font-size: 1rem;

	> .side-menu-container,
	> zs-notification-list {
		width: 100%;
		position: fixed;
		bottom:0;
		right:0;
		left:0;
		top:0;
		display: flex;
		flex-flow: column nowrap;
	}

	> .side-menu-container {
		background: rgb(250,250,250);
		z-index: 1;
		box-shadow: 2px 0 2px rgba(0,0,0,0.25);
	}

	> zs-notification-list {
		transition: 0.3s transform cubic-bezier(.19,.87,.31,.91);
		z-index: 2;
		box-shadow: 2px 0 2px rgba(0,0,0,0.25);
		&.ng-enter {
			transform: translateX(-100%);
		}
		&.ng-enter-active {
			transform: translateX(0);
		}
		&.ng-leave {
			transform: translateX(0);
		}
		&.ng-leave-active {
			transform: translateX(-100%); 
		}
	}
	@media #{$medium-and-up}{
		width:auto;
		> .side-menu-container,
		> zs-notification-list {
			width:320px;
			position: static;
		}
		> zs-notification-list{
			z-index:1;
		}
		> .side-menu-container{
			z-index:2;
		}
	}
}

.side-menu-button,
.side-menu-user-linkaction,
.side-menu-user-action{
	position: relative;
	&.has-unread{
		&:after{
			content: '';
			position: absolute;
			width: 11px;
			height: 11px;
			border-radius: 10px;
			border: solid 2px #14689b;
			background: $red;
			top: 5px;
			right: 5px;
			pointer-events: none;
		}
		&:hover:after{
			border-color:#2681a7;
		}
	}
}

.side-menu-button.has-unread:after {
	top: 5px;
	right: 4px;
}

.side-menu-user-action.has-unread:after {
	top: 2px;
	right: 2px;
}

.side-menu-open {
	transform: translateX(0);
}

@media #{$medium-and-up}{
	

}

.side-menu-header{
	background: #14689b;
	color: #fff;
	padding: 15px 15px 10px 20px;
	display: flex;
	flex-direction: column;
	min-height: 120px;
}

.side-menu-header-topbar{
	display: flex;
	flex:1;
	align-items: baseline;
}

.side-menu-company{
	font-size: 22px;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 5px;
    line-height: 1;
}

.side-menu-user{
	align-self: flex-end;
	text-decoration: underline;
	display: flex;
	align-items:center;
	
	width:100%;
	a,
	a:hover{
		color:#fff;
	}
}

.side-menu-user-link{
	margin-right:auto;
}

.side-menu-user-action-list{
	margin:0;
	display: flex;
}

.side-menu-user-action{
	margin:0 2px;
	.btn-round,
	.btn-round i{
		width:30px;
		height:30px;
		line-height: 30px;
	}
	.btn-round{
		border:none;
		background: none;
		&:hover,
		&:active,
		&:focus{
			background:rgba(255,255,255,0.2);
			outline-width:0;
		}
		.mdi{
			font-size: 1.4rem;
		}
	}
	.mdi-phone-in-talk{
		color:$accent-color;
	}
	.mdi-phone,
	.mdi-comment-outline{
		color:rgba(255,255,255,.6);
	}
} 


.side-menu-close{
	background: none;
	border: none;
	margin-left: auto;
	padding: 0;
	line-height: 0;
	flex-shrink:0;
	width:2rem;
	height:2rem;
	border-radius: 100%;
	zs-icon{
		font-size: 22px;
	}
	&:hover,
	&:active,
	&:focus{
		outline-width: 0;
		background: rgba(255,255,255,.2);
	}
}


.side-menu-group-list{
	margin-top: 0;
	margin-bottom:0;
	padding-bottom:10px;
	flex:1;
	min-height: 0;
	overflow: auto;
}

.side-menu-link-list{
	padding: 15px 0;

	.side-menu-anchor {
		display: block;
		color: rgb(114,114,114);
		padding: 5px 1.5rem;
		width: 100%;
		&:hover,
		&:active,
		&:focus{
			color: #006B98;
			background:rgba(0,0,0,0.08);
			outline-width: 0;
		}

		zs-icon{
			display: inline-block;
			font-size: 22px;
			margin-right: 25px;
			vertical-align: middle;
			line-height: 2.2rem;
		}

		span {
			display: inline-block;
			vertical-align: middle;
		}
	}
}

.side-menu-group{
	border-bottom: solid 1px rgb(220,220,220);
}

.side-menu-group-logout{
	border-bottom: 0;
}
