[% nowrapper=1 %]
[% process_template = 'form/' _ c.config.gemeente_id _ '/header.tt' %]
[% PROCESS $process_template %]

[% layout_type = 'simple' %]

<div id="loginwrap" class="alt-auth alt-auth-login">
    <div class="block">
        <div class="block-header">
        [% IF logged_out %]
            <h1>U bent uitgelogd.</h1>
        [% ELSE %]
            <h1>Inloggen</h1>
        [% END %]
        </div>

        <div class="block-content clearfix">
            <div class="alt-auth-small-form">
                <p class="alt-auth-intro">
            
                <span class="alt-auth-intro-text">[% twofactor_intro_text %]</span>
            [% IF twofactor_error %]
                <span class="alt-auth-error">[% twofactor_error %]</span>
            [% END %]
                </p>
            
            [% IF logged_out %]
            <p>
                Klik op onderstaande knop om naar de website van
                [% c.get_customer_info.naam_lang %] te gaan.
            </p>
            <br/>
            <div>
                <a href="[% c.uri_for('/logout', { redirect => 'gemeente_portal' }) %]" class="button button-primary">
                    Hoofdpagina
                </a>
            </div>
                
            [% ELSE %]
            
            <form action="[% c.uri_for('/auth/twofactor/process_login') | html_entity %]" method="POST" class="zvalidate">
                <div class="row">
                    <div><label for="user">Gebruikersnaam *</label></div>
                    <div class="column"><input type="text" name="username" id="user">
                    [% PROCESS widgets/general/validator.tt %]</div>
                </div>
                <div class="row">
                    <div><label for="pw">Wachtwoord *</label></div>
                    <div class="column"><input type="password" name="password" id="pw">
                    [% PROCESS widgets/general/validator.tt %]</div>
                </div>

                <button type="submit" value="Inloggen met [% idp.name %]" class="button button-primary">
                    <span class="a">Inloggen met [% c.get_customer_info.naam %]ID</span>
                </button>
                <br>
                [% IF !c.session.pip_login -%]
                <a href="[% c.uri_for("/auth/twofactor/register") | html_entity %]" class="alt-auth-register-button">Ik heb nog geen account</a>
                [% END -%]
                <a href="[% c.uri_for("/auth/twofactor/lost_password") | html_entity %]" class="alt-auth-register-button">Ik ben mijn wachtwoord vergeten</a>
            </form>

            [% END %]
            </div>
        </div>
    </div>
</div> 

[% process_template = 'form/' _ c.config.gemeente_id _ '/footer.tt' %]
[% PROCESS $process_template %]
