<div
    class="zs-case-reuse-values-loader"
    ng-show="$ctrl.isLoading()"
>
    <zs-spinner is-loading="true"></zs-spinner>
</div>

<div 
    class="zs-case-reuse-values-container"
    ng-show="!$ctrl.isLoading() && !$ctrl.isLoaded() && $ctrl.getValues()"
>
    <div class="zs-case-reuse-text">U heeft al eens een aanvraag gedaan voor {{$ctrl.casetypeName}}.</div>
    <button
        class="btn btn-flat"
        ng-click="$ctrl.usePreviousCaseValues()"
    >
        Gegevens van vorige zaak invullen
    </button>
</div>