[%
#
# Pager widget 2
# Feed this widget with a resultset object "results" that 
# has paging enabled (DBIX::Class->search({page=>$page, ..
# The number of rows per page is determined in the
#
# Input:
# - results: a DBIx::Class resultset with paging enabled
# - page: (optional) the current page number, starting at 1
#
%]

[% IF !results %]
Geen resultaten.
[% RETURN %]
[% END %]

[% IF !results.pager %]
Geen gepagineerde resultaten.
[% RETURN %]
[% END %]

[% IF !results.pager.entries_per_page %]
Geen geheel getal voor entries_per_page
[% RETURN %]
[% END %]

[% IF !results.pager.total_entries || results.pager.total_entries <= 5 %]
[% RETURN %]
[% END %]



[% page = c.req.param('page') || 1 %]


[% max_paging_links = 6 %]

<div class="pagination-wrap pagination-oldschool clearfix">

    <div class="pagination-current">
        [% page_index = page - 1 %]
        [% first_entry = (page_index * results.pager.entries_per_page) + 1 %]
        Getoond: 
        [% IF results.pager.total_entries > page_index * results.pager.entries_per_page %]
            [% last_entry = first_entry + results.pager.entries_per_page - 1 %]
            [% IF last_entry > results.pager.total_entries %]
                [% last_entry = results.pager.total_entries %]
            [% END %]
            [% first_entry %] - [% last_entry %]
        [% ELSE %]
            [% IF results.pager.total_entries > 1 %]
                [% first_entry %] - 
            [% END %]
        [% END %]
    </div>

    
    
    <div class="pagination[% UNLESS pip %] pagination-centered[% ELSE %] pagination-right[% END %]">
        
        [% IF results.pager.total_entries > results.pager.entries_per_page  %]

        <ul>

        [% IF results.pager.total_entries > results.pager.entries_per_page && page > 1 %]
            [% previous_page = page - 1 %]
                <li>
                    <a class="set_page_number" href="" rel="[% previous_page %]"><span class="prev"></span></a>
                </li>
            [% ELSE %]
                <li class="disabled">
                    <span><span class="prev"></span></span>
                </li>
        [% END %]
        
        
        [% USE Math %]
        [% page_count = Math.int(results.pager.total_entries / results.pager.entries_per_page) %]
        [% IF page_count * results.pager.entries_per_page < results.pager.total_entries %]
            [% page_count = page_count + 1 %]
        [% END %]
        
        
            [% i = 1 %]
            [% half_max_paging_links = Math.int(max_paging_links / 2) %]
        
        
            [% IF page >  half_max_paging_links %]
                [% i = page - half_max_paging_links %]
            [% END %]
            [% IF page > page_count - half_max_paging_links %]
                [% i = page_count - max_paging_links + 1 %]
            [% END %]
            [% IF i < 1 %]
                [% i = 1 %]
            [% END %]
            [% paging_links = 0 %]
        
            [% WHILE i <= page_count && paging_links < max_paging_links %]
                [% paging_links = paging_links + 1 %]
                    [% IF i == page %]
                    <li class="active">
                        <span>[% i %]</span>
                    </li>
                    [% ELSE %]
                    <li>
                        <a class="set_page_number" href="#" rel="[% i %]">[% i %]</a>
                    </li>
                    [% END %]
                [% i = i + 1 %]
            [% END %]
        
        
            [% IF page < page_count %]
                [% next_page = page + 1 %]
                <li>
                    <a class="set_page_number" href="" rel="[% next_page %]"><span class="next"></span></a>
                </li>
            [% ELSE %]
                <li class="disabled">
                    <span><span class="next"></span></span>
                </li>
            [% END %]
            
        </ul>

        [% END %]
        
    </div>
        
    

    [% UNLESS pip %]

    <div class="pagination-perpage">
        
        [% UNLESS pip %]
            <div class="ezra_results_per_page_wrap list-actions-results-per-page">
                <span>Per pagina: </span>
                <select name="results_per_page" class="ezra_results_per_page">
                    <option value="5"  [% IF results_per_page == '5' %]selected="selected"[% END %]>5</option>
                    <option value="10" [% IF results_per_page == '10' || results_per_page == '' %]selected="selected"[% END %]>10</option>
                    <option value="20" [% IF results_per_page == '20' %]selected="selected"[% END %]>20</option>
                    <option value="50" [% IF results_per_page == '50' %]selected="selected"[% END %]>50</option>
                </select>
            </div>
        [% END %]
        
    </div>
    [% END %]
        
</div>
