[% USE Dumper %]

[% BLOCK results_header %]    
    <!--pre>[% #Dumper.dump(display_fields) %]</pre-->
    [% IF listactions %]
    <th class="td20 ezra_non_clickable">&nbsp;</th>
    [% END %]
    [% FOREACH my_display_field = display_fields %]
        [% IF my_display_field.sortable %]
            <th class="set_sort_order [% my_display_field.fieldname %]" data-sort-field="[% my_display_field.fieldname %]">
                [% IF my_display_field.fieldname == 'status' %]
                    <i class="icon-down icon"></i>
                [% ELSE %]
                    <a href="#" [% (sort_field == my_display_field.fieldname ? ' class="' _ sort_direction _ ' sort"' : '') %]>[% my_display_field.label %]</a>
                [% END %]				
            </th>
        [% ELSE %]
            <th class="[% my_display_field.fieldname %]">
                [% IF my_display_field.fieldname == 'status' %]
                    <i class="icon-down icon"></i>
                [% ELSE %]
                   [% my_display_field.label | html %]
                [% END %]				
            </th>
        [% END %]
    [% END %]
    [% UNLESS pip || result_type == 'logging' %]
        [% UNLESS skip_actions %]
        <th class="td30 ezra_acties_kolom ezra_non_clickable">Acties</th>
        [% END %]
        <th class="td20 ezra_non_clickable">&nbsp;</th>
    [% END %]
[% END %]


[% UNLESS results && results.pager %]
    <span class="no-results">Geen resultaten</span>
	[% RETURN %]
[% END %]





[% BLOCK results_row_zaken %]
    [% IF(display_fields) %]	
        <tr id="zaak[% zaak.id %]" class="ezra_clickable_tr[% IF zaak.te_vernietigen && !zaak.can_delete %] cannot-destroy[% END %]">
        [% IF listactions %]
            <td class="td20 field_actions">
                <input class="ezra_listactions_checkbox" type="checkbox" name="[% checkbox %]"
                value="[% zaak.id %]"
                >
            </td>
        [% END %]
            [% FOREACH my_display_field = display_fields %]
                <td class="field_[% my_display_field.fieldname.replace('\.','_') %]">
                [% PROCESS widgets/general/zaak_veld.tt 
                display_field = my_display_field.fieldname
                display_class = my_display_field.class
                %]
                </td>
                
            [% END %]
            [% UNLESS pip || result_type == 'logging' %]
                [% UNLESS skip_actions %]
                <td class="field_actions">
                    [% PROCESS widgets/general/zaak_veld.tt 
                    display_field = 'Acties'
                    display_class = 'actie'
                    %]
                </td>
                [% END %]
                <td class="td40 field_actions" style="position: relative;">
                        [% unaccepted_pip_updates = zaak.unaccepted_pip_updates %]
                        [% unaccepted_files = zaak.scalar.files.unaccepted %]
                        [% unaccepted_changes_total = unaccepted_pip_updates + unaccepted_files %]

                        [% IF unaccepted_changes_total %]
                            [% tooltip_title = unaccepted_changes_total > 1 ? 'Er zijn ' _ unaccepted_changes_total _ ' wijzigingsverzoeken op deze zaak' : 'Er is 1 wijzigingsverzoek op deze zaak' %]
                            <a href="[% c.uri_for('/zaak/' _ zaak.id) %]" class="counter-wrap">
                                <span class="fase-counter counter counter-in-results ng-binding add-tooltip" title="[% tooltip_title %]">[% unaccepted_changes_total %]</span>
                            </a>
                        [% END %]

                     [% IF show_behandelaar && zaak.behandelaar %]
                     <span class="icon icon-aanvrager-kleur add-tooltip" title="Direct aan behandelaar toegewezen: [% c.user.username %] ([% c.user.naam %])"></span>
                     [% END %]
                     
                 </td>
            [% END %]
        </tr>
    [% ELSE %]
        <tr><td>NEED display_fields array!</td></tr>
    [% END %]
[% END %]



[% BLOCK result_row_logging %]
    <tr>
        <td>[% result.created_localized.strftime('%d-%m-%Y %H:%M') %]</td>
        <td>[% PROCESS widgets/general/longtext.tt
                no_line_breaking = 1
                my_text = result.onderwerp_extended || result.onderwerp
            %]

                [% IF result.zaak_id %]
                    [% IF !result.zaak_id.deleted %]
                        (<a href="[% c.uri_for('/zaak/' _ result.get_column('zaak_id')) %]">Zaak [% result.get_column('zaak_id') %]</a>)
                    [% END %]
                [% END %]

        </td>
        <td>[% IF result.component == 'zaak' %]
                [% IF !result.zaak_id.deleted %]
                    <a href="[% c.uri_for('/zaak/' _ result.get_column('zaak_id')) %]">
                [% END %]
                    [% result.component |ucfirst %] [% result.get_column('zaak_id') %]
                [% IF !result.zaak_id.deleted %]
                </a>
                [% END %]
            [% ELSE %]
                [% result.component | ucfirst %]
                
            [% END %]
        </td>
        <td class="td200">
            [% betrokkene = c.model('Betrokkene').get({ intern => 0 }, (result.betrokkene_id || result.created_by)) %]
            [% betrokkene.username %]
            ([% betrokkene.naam  %])
        </td>
    </tr>
[% END %]



[% BLOCK results_row %]
    [% IF result_type == 'logging' %]
        [% result = zaak %] [% # need to change zaak to more generic name %]
        [% PROCESS result_row_logging %]
    [% ELSE %]
        [% zaakdata = zaak %]
        [% PROCESS results_row_zaken %]
    [% END %]
[% END %]



<div class="spinner-groot"><div></div></div>

<input type="hidden" name="sort_field" value="[% sort_field | html %]"/>
<input type="hidden" name="sort_direction" value="[% sort_direction | html %]"/>
<input type="hidden" name="page" value="[% page | html %]"/>
<input type="hidden" name="pager_request" value="" />
<input type="hidden" name="total_entries" value="[% results.pager.total_entries %]"/>

[% IF listactions %]
<div class="ezra_listactions_display list-actions-buttons clearfix disabled">

    
    <div class="dropdown-wrap dropdown-wrap-float">
        <div class="knop no-icon ezra_dropdown_init">
            <input type="checkbox" name="select_all" class="ezra_listaction_select_all"/> 
            <div class="dropdown-pijl-image"></div>
        </div>
        <div class="ezra_dropdown dropdown-menu dropdown">
            <a href="#" class="ezra_listaction_select_all_search_results">Alle zoekresultaten ([% results.pager.total_entries %])</a>
        </div>
    </div>
    
    <div class="dropdown-wrap dropdown-wrap-float">
        <div class="knop no-icon ezra_dropdown_init add-tooltip ezra_management_actions" title="Acties worden toegepast op selectie">
            Acties 
            <div class="dropdown-pijl-image"></div>
        </div>
        <div class="ezra_dropdown dropdown-menu dropdown">
            <a href="/bulk/update/allocation" title="Toewijzing wijzigen" class="ezra_listaction ezra_listaction_bulk">Toewijzing wijzigen</a>
            <a href="/bulk/update/owner" title="In behandeling nemen" class="ezra_listaction ezra_listaction_bulk">In behandeling nemen</a>
            <a href="/bulk/update/opschorten" title="Opschorten" class="ezra_listaction ezra_listaction_bulk">Opschorten</a>
            <a href="/bulk/update/resume" title="Hervatten" class="ezra_listaction ezra_listaction_bulk">Hervatten</a>
            <a href="/bulk/update/verlengen" title="Termijn wijzigen" class="ezra_listaction ezra_listaction_bulk">Termijn wijzigen</a>
            <a href="/bulk/update/relatie" title="Relateren" class="ezra_listaction ezra_listaction_bulk">Relateren</a>
            [% IF c.check_any_user_permission('admin', 'beheerder') %]
                <a href="/bulk/update/set_settings" title="Beheeracties" class="ezra_listaction ezra_listaction_bulk">Beheeracties</a>
            [% END %]
            [% IF c.check_any_user_permission('admin', 'beheerder') %]
                <a href="/bulk/update/destroy" title="Vernietigen" class="ezra_listaction ezra_listaction_bulk">Vernietigen</a>
            [% END %]
            <a href="/bulk/publish" title="Publiceren" class="ezra_listaction ezra_listaction_bulk">Publiceren</a>
        </div>
    </div>

    

    <div class="dropdown-wrap dropdown-wrap-float">
        <div class="ezra_listaction ezra_listaction_exporteer knop no-icon ezra_dropdown_init add-tooltip" title="Exporteer alle resultaten">
            Exporteer
            <div class="dropdown-pijl-image"></div>
        </div>
        <div class="dropdown ezra_dropdown dropdown-menu ezra_actie_container" style="display: none;">
                
                <a href="[% c.uri_for('/search/') %][% SearchQuery_search_query_id ? SearchQuery_search_query_id _ '/' : '' %]export/excel" id="excel"><span></span>Excel</a>
                <a href="[% c.uri_for('/search/') %][% SearchQuery_search_query_id ? SearchQuery_search_query_id _ '/' : '' %]export/csv" id="excel"><span></span>CSV</a>
                <a href="[% c.uri_for('/search/') %][% SearchQuery_search_query_id ? SearchQuery_search_query_id _ '/' : '' %]export/oocalc" id="oocal"><span></span>OO Calc</a>
                <a href="[% c.uri_for('/search/') %][% SearchQuery_search_query_id ? SearchQuery_search_query_id _ '/' : '' %]export/documents" id="excel" title="Download een lijst  alle gerelateerde documenten"><span></span>Documentenlijst</a>
                <a href="[% c.uri_for('/search/') %][% SearchQuery_search_query_id ? SearchQuery_search_query_id _ '/' : '' %]export/overdracht" id="excel" title="Download een overdrachtsbestand"><span></span>Overdrachtsbestand</a>
        </div>        
    </div>
        
    

    <!--div class="ezra_listaction_more knop no-icon">Meer acties</div-->
    
[% END %]
    
    [% IF listactions %]
    
</div>

<div class="ezra_listactions_all_search_results listactions-all-results">
    De huidige zoekselectie ([% results.pager.total_entries %] zaken) is nu geselecteerd.
    <input type="hidden" name="action_search_results" value=""/>
    <a href="#" class="ezra_listactions_clear_all">Selectie opheffen</a>
</div>

[% END %]

[% IF results.pager.total_entries > 0 %]
    <table class="[% UNLESS pip %]v-align-center results[% END %][% IF listactions %] ezra_listactions[% END %] data-table" cellspacing="0" border="1" cellpadding="10" width="100%">



        <thead>
            <tr>
                [% PROCESS results_header %]
            </tr>
        </thead>

    
        <tbody>
        [% WHILE (zaak = results.next) %]
            [% PROCESS results_row %]    
        [% END %]
        </tbody>
    </table>
[% ELSE %]
    <span class="no-results">Geen resultaten</span>
[% END %]
