<div class="column large-4">
    <label>Type toewijzing:</label></br>
</div>
<div class="column large-8">
    <div class="form-change-allocation">
        <label for="ezra_change_allocation_self">
            <input type="radio" name="change_allocation" class="ezra_change_allocation" value="self" [% IF ASSIGN_TO_ME %]checked="checked"[% END %] id="ezra_change_allocation_self"/>
            Zelf in behandeling nemen
        </label>
        <label for="ezra_change_allocation_behandelaar">
            <input type="radio" name="change_allocation" class="ezra_change_allocation" value="behandelaar" id="ezra_change_allocation_behandelaar" />
            Specifieke behandelaar
        </label>
        <div id="ezra_id_behandelaar" class="form-change-allocation-assignee">
        <label for="ezra_change_allocation_behandelaar_foo">
            <input type="checkbox" name="change_allocation_dept" class="ezra_change_allocation" value="1" id="ezra_change_allocation_behandelaar_dept" />
            Ook afdeling wijzigen
        </label>
        [% PROCESS widgets/search_betrokkene.tt
            label           = ''
            input_name      = 'assignee_id'
            ezra_id         = 'ezra_id_behandelaar'
            selector_input  = 'behandelaar_type'
        %]
        </div>
        <label for="ezra_change_allocation_group">
            <input type="radio" name="change_allocation" class="ezra_change_allocation" value="group" [% IF !ASSIGN_TO_ME %]checked="checked"[% END %] id="ezra_change_allocation_group"/>
            Rol of afdeling
        </label>
        <div id="ezra_allocation_group" class="form-change-allocation-group">
            <div class="ezra_allocation_settings ou_id role_id">
            [% PROCESS widgets/general/auth_select.tt
                AUTH_SELECT_OU_NAME   = (AUTH_SELECT_OU_NAME || 'ou_id')
                AUTH_SELECT_ROLE_NAME = (AUTH_SELECT_ROLE_NAME || 'role_id')
                AUTH_SELECT_NO_GLOBAL = 1
            %]
            </div>
        </div>
    </div>
    <div id="ezra_allocation_toself">
        <input type="hidden" name="actie_automatisch_behandelen" value="[% IF ASSIGN_TO_ME %]1[% ELSE %]0[% END %]" />
    </div>
</div>
