<div class="org-unit-picker">
	<div class="org-unit-picker-part org-unit-picker-part-department">
		<div class="org-unit-picker-part-title">
			%%Afdeling%%
		</div>
		<select data-ng-model="org_unit_id" data-ng-options="unit.org_unit_id as unit.name for unit in getUnits()" data-ng-change="handleUnitChange()">
			<option value="">
				Alle afdelingen
			</option>
		</select>
	</div>
	<div class="org-unit-picker-part org-unit-picker-part-role">
		<div class="org-unit-picker-part-title">
			%%Rol%%		
		</div>
		<select data-ng-model="role_id" data-ng-options="role.role_id as getRoleName(role) for role in getRolesForUnit(org_unit_id) | orderBy:'system'">
	    </select>
	</div>
</div>