<div class="kenmerk-veld row">
	<div class="column large-4">
		<div class="field-label field-has-help">
			<div class="field-help">
				[% PROCESS widgets/general/dropdown.tt
					dropdown_content = 'Standaard is het mogelijk om dashboard-widgets te verplaatsen, toe te voegen en te verwijderen. Als deze instelling aan staat, is deze mogelijkheid er niet.',
				    icon = 'icon-question-sign',
				    icon_type = 'icon-font-awesome'
				%]
	        </div>
            <label>Dashboard is niet door gebruikers te wijzigen</label>
		</div>
	</div>
	<div class="column large-8">
		<div class="field">
			<input type="checkbox" name="disable_dashboard_customization" [% value ? 'checked="checked"' : '' %] />
		</div>
	</div>

</div>
