
<div id="blockvar-wrap" class="mijlpaal_configureren">
    <div class="block blockvar left mijlpaal_content no-padding" id="configureren">
        <form method="POST" action="[% formaction %]">
            <input type="hidden" name="zaaktype_update" value="1" />
            <input type="hidden" name="status_update" value="1" />
            [% PROCESS subtemplate %]
        </form>
    </div>
</div>
