[% USE DateFormattingFilter %]
[% USE PriceFormattingFilter %]

[% woz_object_data = woz_object.object_data %]
    <div class="woz">

        <h1 class="woz-straat">
            [% woz_object_data.Straatnaam %]
            [% woz_object_data.Huisnummer | format('%0d')  %]
            [% woz_object_data.Huisletter %]
            [% woz_object_data.Huisnummertoevoeging %]
        </h1>
        [% woz_objectnummer = woz_object_data.item('WOZ-objectnummer') |format('%d') %]

        [% IF !c.user_exists  && show_comment_link %]
        <a href="[% c.uri_for('/zaak/create/webformulier/',
            {
                 zaaktype_id                => woz_zaaktype_id,
                 sessreset                  => 1,
                 ztc_aanvrager_type         => 'natuurlijk_persoon',
                 authenticatie_methode      => c.session.authenticated_by,
                 prefill_woz_objectnummer   => woz_objectnummer,
             })
             %]"
             class="button button-secondary button-small">Opmerking doorgeven</a>
        [% END %]

        [% woz_intro_text %]
        <table>
            <tbody>
                <tr>
                    <td class="td"><label>Straatnaam</label></td>
                    <td>[% woz_object_data.Straatnaam %]</td>
                </tr>
                <tr>
                    <td><label>Huisnummer</label></td>
                    <td> [% woz_object_data.Huisnummer | format('%0.0f')  %] [% woz_object_data.Huisletter %] [% woz_object_data.Huisnummertoevoeging %]</td>
                </tr>
                <tr>
                    <td><label>Postcode</label></td>
                    <td>[% woz_object_data.Postcode %]</td>
                </tr>
                <tr>
                    <td><label>Woonplaats</label></td>
                    <td>[% woz_object_data.Woonplaatsnaam %]</td>
                </tr>
                <tr>
                    <td><label>WOZ-objectnummer</label></td>
                    <td>[% woz_objectnummer %]
                        <div class="ezra_woz_object_picture inline" rel="postcode:[% woz_object_data.Postcode %];huisnummer:[% woz_object_data.Huisnummer |format('%d') %]" style="display:none;">
                            <a href="#" class="knop ezra_woz_object_picture_popup knop-bootstrap"><i class="icon icon-image"></i> Toon foto</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <table>
            <tbody>
                <tr>
                    <td class="td"><label>Waardepeildatum</label></td>
                    <td>[% woz_object_data.Waardepeildatum | $DateFormattingFilter %]</td>
                    <td class="td"><label>Toestandspeildatum</label></td>
                    <td>[% woz_object_data.onderbouwing_taxatie.Toestandspeildatum  | $DateFormattingFilter %]</td>
                </tr>
                <tr>
                    <td><label>Vastgestelde WOZ-Waarde</label></td>
                    <td><strong>&euro; [% woz_object_data.item('Vastgestelde waarde') | $PriceFormattingFilter %]</strong></td>
                    <td colspan="2">(Waardepeildatum [% woz_object_data.Waardepeildatum | $DateFormattingFilter %])</td>
                </tr>
                <tr>
                    <td>Vorige vastgestelde WOZ-waarde</td>
                    <td>[% IF woz_object_data.item('Vorige waarde') %]&euro; [% woz_object_data.item('Vorige waarde').waarde | $PriceFormattingFilter %][% ELSE %]-[% END %]</td>
                    <td colspan="2">
                        (Waardepeildatum
                        [% woz_object_data.item('Vorige waarde').item('peildatum') | $DateFormattingFilter %])
                    </td>
                </tr>
                [% nieuw = woz_object_data.item('Vastgestelde waarde')  %]
                [% oud   = woz_object_data.item('Vorige waarde').waarde %]
                [% IF oud %]
                    [% percentage = 100 * (nieuw-oud) / oud %]
                [% END %]
                <tr>
                    <td>Verandering van de WOZ-Waarde</td>
                    <td colspan="3">[% IF oud %][% percentage | format('%0.1f') %]%[% ELSE %]-[% END %]</td>
                </tr>
            </tbody>
        </table>

        <a href="/beheer/woz/report/[% woz_object.id %]">Taxatieverslag</a>
    <div class="woz-uitleg">
    [% woz_waardebepaling_text %]
    </div>

