@import "./../../../styles/_variables.scss";

zs-contextual-action-form {
	width: 100%;
	background: white;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 3;
	transition: 0.15s transform ease-out;
	transform: none;
	box-shadow: -2px 0 7px rgba(0,0,0,0.25);

	&.ng-enter,
	&.hidden {
		transform: translateX(100%);
	}

	&.ng-enter-active {
		transform: translateX(0%);
	}

	&.ng-leave:not(.hidden) {
		transform: translateX(0);
	}
	&.ng-leave-active:not(.hidden) {
		transform: translateX(100%);
	}

	.scroll-container{
		position: absolute;
		top: 0; left: 0; bottom:0;
		width: 100%;
		overflow-y: auto;
		top: $navbar-height;
	}
	.contextual-action-form-header {
		position: absolute;
		top: 0; left: 0;
		z-index: 1;
		width: 100%;
		height:$navbar-height;		
		padding:0 1.33rem;
		background:#fff;
		font-size:$h1-font-size;
		line-height: $navbar-height;
	}

	.vorm-field-list{
		margin:0;
	}

	.contextual-action-form-close {
		position: absolute;
		top: 0;
		right:.8rem;
		background: none;
		border: none;
	}

	.form-field-label{
		padding-bottom:.3rem;
	}

	.vorm-clear{
		float: right;
	}

	.value-list{
		.vorm-control{
			& + .vorm-clear{
				position: absolute;
				right: .667rem;
				top: 50%;
				margin-top: -0.533rem;
			}
		}

		vorm-radio-group{
			& + .vorm-clear{
				position: absolute;
				right: .667rem;
				top: 50%;
				margin-top: -0.533rem;
			}
		}

		select{
			width: 100%;
		}
	}
	.file-upload-zone{
		margin:0;
		flex-direction:column;
		padding:4rem 0;
	}
	.file-uploader-drop-message{
		padding:1rem;
	}
}

@media #{$medium-and-up}{
	zs-contextual-action-form{
		width: 26.667rem;
	}
}
