<div ng-switch="$ctrl.getViewSize()">

	<!-- Mobile viewports -->
	<a
		class="proposal-item"
		ng-repeat="proposal in $ctrl.getSmallProposals() track by proposal.$id"
		ng-class="proposal.classes"
		ng-href="{{::proposal.link}}"
		proposal-case-number="{{::proposal.casenumber}}"
		ng-switch-when="small"
		>
		<div class="proposal-item__col proposal-item__col--first" ng-show="$ctrl.isGrouped()">
			<span class="proposal__number">{{::proposal.agendapoint_number}}</span>
		</div>
		<div class="proposal-item__col proposal-item__col--middle">
			<span class="proposal-item__title">{{::proposal.subject}}</span>
		</div>
		<div class="proposal-item__col proposal-item__col--last">
			<zs-icon class="proposal-item__noteicon" icon-type="note-plus" ng-if="proposal.notes"></zs-icon>
			{{::proposal.number_of_documents}}
			<zs-icon icon-type="file-document"></zs-icon>
		</div>
	</a>

	<!-- Tablet viewports -->
	<table
		ng-show="$ctrl.getProposals().length"
		ng-switch-when="wide"
		class="proposal-item-table"
		>
		<thead>
			<th ng-repeat="item in $ctrl.getConfigColumns() track by item.internal_name.searchable_object_id"
				ng-class="item.colClass"
				ng-click="$ctrl.sortByColumn(item)"
			>
				<div
					class="proposal-list__table-header-label"
					ng-class="item.classes"
				>
					<span class="proposal-list__table-header-label-value">{{::item.label}}</span>
					<zs-icon icon-type="{{item.colIcon}}"></zs-icon>
					<zs-icon icon-type="{{item.icon}}"></zs-icon>
				</div>
			</th>
		</thead>
		<tr
			ng-repeat="proposal in $ctrl.getProposals() track by proposal.$id"
			ng-click="$ctrl.handleProposalClick(proposal)"
			ng-class="proposal.classes"
			proposal-case-number="{{::proposal.casenumber}}"
		>
			<td
				ng-repeat="value in proposal.values track by value.id"
				ng-bind-html="value.template"
			>
			</td>
		</tr>
	</table>

</div>
