.stuf-zkn-simulator{
	h3.title{
		margin-top:10px;
		padding-left:0.425em;
	}
	input[type=text]{
		width:100%;
	}
	input[placeholder=identificatie]{
		width:auto;
		padding:2px;
		margin-left:4px;
		width:200px;
	}
	input[type=submit]{
		margin:15px 0;
	}
}

.stuf-zkn-result{
	textarea{
		width:100%;
		height:205px;
	}
	&.block{
		margin-bottom:10px;
	}
}