.validator,
.validation-message {
    display: none;
    position: relative;
    padding: 0 0 0 5px;
    z-index: 2;
    span {
        display: inline-block;
        width: 11px;
        height: 11px;
        margin-right: 7px;
        float: left;
        margin-top: 0.308em;
    }
    i{
        color: red;
        margin-right: .5em;
    }
    img{
        width:16px;
        height:16px;
        margin-right:8px;
    }
    &.invalid span {
        background-image: url(/images/icon-validation-failed.png) !important;
        background-color: #f4e1de;
    }
    &.invalid div.validate-tip {
        background: url(/images/validator-tip.gif) no-repeat 0 0;
        height: 11px;
        width: 6px;
        position: absolute;
        left: 0;
        top: 7px;
    }
    &.invalid div.validate-content {
        border: 1px solid red;
        line-height: 1.6;
        padding: 3px 10px;
        float: left;
        width: auto;
        background: #f4e1de;
        font-weight: normal;
        @include border-radius(3px);
        display: flex;
        align-items: center;
    }
}
 
#fresh-form .validator { float: left !important; }

.webformcontent .validator{padding: 10px 0 0;}
.webformcontent .validator.invalid div.validate-content,
.webformcontent .validation-message.invalid div.validate-content {float: none;}
.webformcontent .validator.invalid div.validate-tip { display: none; }

.validator-next-line{
    .validator.invalid div.validate-tip {
        display: none;
    }
    .validator{
        margin:8px 0 0 0;
        padding:0;
    }
}

.validator.validator-inline{
    display: inline-block;
    vertical-align: top;
}